@model INDMS.WebUI.ViewModels.PurchaseOrderViewModel
@{
    ViewBag.Title = "Purchase Order";
}
@using System
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Purchase Order
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="glyphicon glyphicon-list-alt"></i>Purchase Order</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-md-12">
                @if (TempData["MSG"] != null) {
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @TempData["MSG"]
                    </div>
                }
                @if (TempData["Error"] != null) {
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @TempData["Error"]
                    </div>
                }

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@Html.ActionLink("New", "New", "PurchaseOrder", null, new { @class = "btn btn-primary" })</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped" style="font-size:small !important">
                            <thead>
                                <tr>
                                    <td>
                                        FileNo
                                    </td>
                                    <td>
                                        PO No.
                                    </td>
                                    <td>
                                        PO Date
                                    </td>
                                    <td>
                                        PO Value
                                    </td>
                                    <td>
                                        Quantity
                                    </td>
                                    <td>
                                        No. Of Lots
                                    </td>
                                    <td>
                                        DeliveryDate
                                    </td>
                                    <td>
                                        Po Placing Authority
                                    </td>
                                    <td>
                                        Inspectors
                                    </td>
                                    <td>
                                        Firm Name
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PurchaseOrders) {
                                    <tr>
                                        <td>
                                            @item.FileNo
                                        </td>
                                        <td>
                                            @item.PONo
                                        </td>
                                        <td>
                                            @Convert.ToString(item.PODate).Substring(0, 9)
                                        </td>
                                        <td>
                                            @item.POValue
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.NoOfLots
                                        </td>
                                        <td>
                                           @item.DeliveryDate
                                        </td>
                                        <td>
                                            @item.PoPlacingAuthority
                                        </td>
                                        <td>
                                            @item.Inspectors
                                        </td>
                                        <td>
                                            @item.Firm
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "EditPO", new { id = @item.Id }, new { @class = "fa fa-edit", @title = "Edit" }) |
                                            @Html.ActionLink(" ", "Index", "POFlow", new { id = @item.Id }, new { @class = "fa  fa-chevron-right", @title = "Timeline" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
@section scripts{
    <script>
        $(function () {
            $('li').removeClass("active");
            $('#liPO').addClass("active")
        });
    </script>
}