@model INDMS.WebUI.ViewModels.INOTEViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="font-weight:bold;">

    <div>
        <div style="text-align:center">
            <p>Appendix B</p>
        </div>
        <div style="">
            <img src="~/Img/MovementHeader.png" alt="" />
        </div>
        <div>
            <div style="float:left">
                QAEV/#LETTERNO#
            </div>
            <div style="float:right">
                @DateTime.Now.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="float:left">
                <p>@Model.PO.Firm</p>
                <p>
                    @Model.PO.FirmAddress.Split(',')
                    @*@{
                        string[] x = @Model.PO.FirmAddress.Split(',');
                        foreach (string item in x)
                        {
                            <p>@item</p>
                        }
                    }*@

                </p>
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <div style="text-align:center">
                <p>
                    PO No. :
                    @Model.PO.PONo &nbsp;
                    @if (!Convert.ToString(Model.PO.PODate).Equals(""))
                    {
                        @Convert.ToDateTime(Model.PO.PODate).ToString("dd-MMM-yyyy")
                    }

                </p>
                <p>@Model.PO.Subject</p>
            </div>
        </div>
        <div>
            <p>महोदय,</p>
            <p>
                1.	निरीक्षण नोट सं 00265/ #INOTENO# / ङबल्यू पी दिनांक #INOTEDATE# की एक से पांच तक प्रतियाँ आपको आवश्यक कारवाई हेतु अग्रेषित की जा रही है ।
            </p>
            <p>
                2.	आपसे निवेदन किया जाता है कि वस्तओं को जल्द से जल्द भेज दें एवं आर.आर./एल.आर. की एक प्रति रिकार्ड हेतु इस कार्यालय को अग्रेषित करें।
            </p>
        </div>

        <div>
            <div style="float:left">
                <p>
                    "PART COMPLETION"
                </p>
                <p>
                    संलग्न: यथोक्त
                </p>
            </div>
            <div style="float:right">
                <p style="text-align:left">भवदीय,</p>
                <p>
                    ए. मनहास (A Manhas)
                </p>
                <p>
                    कमांडर (Commander)
                </p>
                <p>
                    गु.आ.अधि.(युपो.सं)QAO (WE)<br />
                </p>
            </div>
        </div>
        <div style="clear:both"></div>
        <div>
            <p>प्रतिलिपि:-</p>
            <p>1. PO PLACING AUTHORITY (V): उपरोक्त आई. नोट की सं. 6 की प्रति के साथ</p>
            <p>2. सी ङबल्यूएच (	V) : उपरोक्त आई. नोट की सं. 8 की प्रति के साथ</p>
            <p>3. ङीक्यूए ङबल्यूपी (N Delhi) : उपरोक्त आई. नोट की सं. 7 की फोटोप्रति के साथ</p>
        </div>
    </div>
</body>
</html>